<a class="inline-flex items-center justify-center text-center gap-2 px-4 py-2 rounded-lg font-medium lg:text-lg text-white bg-neutral-500 border-2 border-neutral-500 md:transition md:hover:bg-neutral-600 md:hover:border-neutral-600 md:active:bg-neutral-700 md:active:border-neutral-700 {{ params.className }}" href="{{ params.href }}">
  {% include "./content.njk" %}
</a>