<a class="inline-flex items-center justify-center text-center gap-2 px-4 py-2 rounded-lg font-medium lg:text-lg text-white bg-blue-500 border-2 border-blue-500 md:transition md:hover:bg-blue-600 md:hover:border-blue-600 md:active:bg-blue-700 md:active:border-blue-700 {{ params.className }}" href="{{ params.href }}">
  {% include "./content.njk" %}
</a>